body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);

  background-color: #ffffff;
}
:root {
  --primery-font: "Roboto", sans-serif;
  --iris: #4D5AE5;
  --navyblue: #2E2F42;
  --slate: #434455;
  --white: #FFF;
  --cloud: #F4F4FD;
  --ocean: #404BBF;
  --cornflower: #E7E9FC;
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-logo {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway",sans-serif
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-studio {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway", sans-serif
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-link {
  color: var(--navyblue, #2E2F42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus  { 
    color: var(--ocean, #404BBF);
}

.address{
    font-style: normal
}

.address-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link{
    color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:  1.50;
letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus{
 color: var(--ocean, #404BBF);
}

.hero {
  background-color: var(--navyblue, #2E2F42);
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-but:focus {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--ocean, #404BBF);
}
.hero-but:hover {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--ocean, #404BBF);
}
.hero-but {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4D5AE5);
}

.advantages-subtitle {
  color: var(--navyblue, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}
.advantages-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-titel {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-titel {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-subtitel {
  color: var(--navyblue, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color:var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
}
.footer {
  background-color: var(--navyblue, #2E2F42);
}
.footer-logo {
  color: var(--cloud, #F4F4FD);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-web {
  color:var(--iris, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--cloud, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
}

.main-btn {
  color: var(--iris, #4D5AE5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.main-btn-all {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--ocean, #404BBF);
}
.main-img-title {
  color: var(--navyblue, #2E2F42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-img-text {
  color: var(--slate, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  color: var(--iris, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: var(--cloud, #F4F4FD);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}