body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);

  background-color: #ffffff;
}
:root {
  --primery-font: "Roboto", sans-serif;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-link {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean, #404bbf);
}

.address {
  font-style: normal;
}

.address-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean, #404bbf);
}

.hero {
  background-color: var(--navyblue, #2e2f42);
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-but:focus {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--ocean, #404bbf);
}
.hero-but:hover {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--ocean, #404bbf);
}
.hero-but {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
}

.advantages-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-titel {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list,
.team {
  background-color: var(--cloud, #f4f4fd);
}
.team-titel {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-subtitel {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--navyblue, #2e2f42);
}
.footer-logo {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-btn {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud, #f4f4fd);
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.main-img-title {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-img-text {
  color: var(--slate, #434455);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
